:root {
  --light-greyscale-icons: #ABB6B7;
  --light-greyscale-stroke: #CDD2DD;
  --light-greyscale-text-tertiary: #959596;
  --light-greyscale-text-secondary: #676767;
  --light-greyscale-bg-light: #F0F5F5;
  --light-assents-state-hover: #B2F1DE;
  --light-ssents-state-click: #00B780;
  --light-reyscale-disabled-bg: #E7EBF1;
  --light-greyscale-disabled-text: #949697;
  --light-focus-btn: #9873FF;
  --light-greyscale-text-primary: #000000;
  // accent
  --light-accent1-primary: #08D899;
  --light-accent1-quaternary: #B2F1DE;
  --light-accent1-quaternary-opasity: rgba(178, 241, 222, 0.5);
  --light-accent1-successful: #3AC922;
  --light-accent1-successful-opasity: rgba(58, 201, 34, 0.15);

  // light
  --light-greyscale-white: #fff;

  // dark
  --dark-primary: #092326;
  --dark-primary-opasity: rgba(9, 35, 38, 0.7);
}
