@use '../../../../style/index' as index;

.footer {
  z-index: 1;
  width: 100%;
  background-color: var(--light-greyscale-bg-light);
  padding: 50px 70px 40px 70px;
  border-top: 1px solid var(--light-greyscale-stroke);
  @include index.flex-center(center, space-between, 30px, column);
  @media screen and (max-width: 768px){
    background-color: var(--light-greyscale-white);
    padding: 50px 45px 40px;
    border-top: none;
  }
}
.socials {
  width: 100%;
  @include index.flex-center(center, flex-end, 30px);
  @media screen and (max-width: 768px){
    justify-content: center;
  }
}
.policyLinks {
  color: var(--light-greyscale-text-secondary);
  @include index.flex-center(flex-start, space-between, 15px, column);
  @media screen and (max-width: 768px){
    align-items: center;
     margin: 60px 0 30px;
  }
}
.wrapperInfo {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: start;
}
@media screen and (max-width: 768px) {
  .wrapperInfo {
    grid-template-columns: repeat(1, 3fr);
    justify-items: center;
  }
  .wrapperInfo > :nth-child(1) {
    order: 2;
  }
  .wrapperInfo > :nth-child(2) {
    order: 1;
  }
  .wrapperInfo > :nth-child(3) {
    order: 3;
  }
}

.footerText {
  color: var(--light-greyscale-text-tertiary);
}

.footerLogo {
  @media screen and (max-width: 576px){
    svg {
      width: 120px;
      height: 20px;
    }
  }
}